<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- JSON logs to Docker stdout -->
    <appender name="JSON_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logLevel/>

                <loggerName/>

                <threadName/>

                <message/>

                <mdc/>

                <stackTrace/>

            </providers>

        </encoder>

    </appender>


    <!-- JSON logs to file for OTel Collector -->
    <appender name="JSON_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>/logs/application.json</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>
                /logs/application.%d{yyyy-MM-dd}.json
            </fileNamePattern>

            <maxHistory>7</maxHistory>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logLevel/>

                <loggerName/>

                <threadName/>

                <message/>

                <mdc/>

                <stackTrace/>

            </providers>

        </encoder>

    </appender>


    <root level="INFO">

        <appender-ref ref="JSON_CONSOLE"/>

        <appender-ref ref="JSON_FILE"/>

    </root>

</configuration>